body {
    background-color: #2f2f2f;
    display: flex;
    padding-top: 150px;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

#display {
    height: 70px;
    width: 275px;
    background-color: black;
    color: whitesmoke;
    text-align: right;
    font-size: 45px;
    font-family:Arial, Helvetica, sans-serif
}

#calculator {
    background-color: black;
    padding: 10px;
    display: flex;
    flex-basis: 275px;
    flex-direction: column;
    border-radius: 20px;

}

button {
    border: none;
    height: 62px;
    width: 62px;
    margin: 3px;
    border-radius: 50px;
    color: white;
    cursor: pointer;
}

#numbers button {
    background-color: #2f2f2f;
    font-size: 30px;
}
#numbers button:hover {
    background-color: #2f2f2fcd;
}
#numbers button:active {
    background-color: #3c3c3c;
}

#operations button {
    background-color: #f59203;
    font-size: 35px;
}
#operations button:hover {
    background-color: #f59003e7;
}
#operations button:active {
    background-color: #ed900e;
}

#editTools button {
    background-color: #a6a6a6;
}
#editTools button:hover {
    background-color: #a6a6a6db;
}
#editTools button:active {
    background-color: #b9b8b8db;
}

#bottom {
    display: flex;
}

#operations  {
    display: flex;
    flex-direction: column;
}

#editTools {
    display: flex;
}

#numbers {
    display: flex;
    flex-wrap: wrap;
}