body {
    background-color: #2f2f2f;
    display: flex;
    padding-top: 150px;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

#display {
    height: 65px;
    width: 225px;
    background-color: black;
    color: whitesmoke;
    text-align: right;
    font-size: 45px;
    font-family:Arial, Helvetica, sans-serif
}

#calculator {
    background-color: black;
    padding: 10px;
    display: flex;
    flex-basis: 225px;
    flex-direction: column;
    border-radius: 15px;

}

button {
    border: none;
    height: 50px;
    width: 50px;
    margin: 3px;
    border-radius: 50px;
    color: white;
}

#numbers button {
    background-color: #2f2f2f;
    font-size: 20px;
}

#operations button {
    background-color: #f59203;
    font-size: 30px;
}

#editTools button {
    background-color: #a6a6a6;
}

#bottom {
    display: flex;
}

#operations  {
    display: flex;
    flex-direction: column;
}

#editTools {
    display: flex;
}

#numbers {
    display: flex;
    flex-wrap: wrap;
}